# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
env/
ENV/
.env/
.venv/

# Testing
.coverage
.coverage.*
htmlcov/
coverage.xml
.pytest_cache/
.tox/
.hypothesis

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific
.DS_Store
Thumbs.db

# Project specific
.ipynb_checkpoints/
*.pth
*.onnx
logs/
runs/

# Files produced by running workflows
*matmul_dataset*.json
*model_performance_analysis_by_op.json
*matmul_test_hardware_deep.json
*seed_*_train_dataset_*.msgpack

torch_diode_test_env
test_env
